/* html kodumuzla bağlamak için html kodumuza <link rel ="stylesheet" href ="style.css"> yazmalısın ayrıca 
aşağıdaki süslü parantezin içi tüm html dosyasının tasarımını ilgilendiriyo*/

* {
    box-sizing: border-box; /* This ensures padding and border are included in the element's total width and height */
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: #f0f8ff;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #fff;
    position: fixed;
    width: 100%;
    top: 0;
    box-shadow: 0 2px 4px rgba(181, 96, 188, 0.1);
    z-index: 1000;
}

#logo {
    font-family: "Nunito Sans", sans-serif;
    color: #000;
    margin: 0;
    padding: 0;
}

nav {
    float: right;
    line-height: 10px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    position: relative;
}

nav ul li a {
    text-decoration: none;
    margin-right: 25px;
    color: black;
    padding: 10px 15px;
    display: block;
}

nav ul li a:hover {
    border-bottom: 2px solid black;
}

#anasayfa {
    background-color: #000;
    background-image: url("../proje/img/foodanddessert.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
    margin-top: 80px; /* Adding margin to avoid overlap with the fixed header */
    position: relative;
}

#black {
    height: 100%;
    background-color: black;
    opacity: 0.3;
}

#tarifler{
    background-color: #fff;
    padding: 150px;
    text-align: center;
    height: 100px;
}

#duyuru {
    background-image: url("../proje/img/foodanddessert.jpg");
    background-size: cover;
    padding: 50px;
    height: auto;
    text-align: center;
}

#h3duyuru {
    color: black;
}

#duyuruopak {
    background: rgba(37, 2, 44, 0.17);
    padding: 30px 20px;
    border-radius: 5px;
    margin-bottom: 50px;
    height: 550px;
}

#formgrup {
    width: 300px;
    height: 50px;
}

.form-control {
    width: 100%;
    padding: 10px;
    font-size: 15px;
    line-height: 1.5;
    color: #495057;
    background-color: white;
    margin: 10px;
    border-radius: 5px;
    border: 1px solid #ced4da;
}

textarea {
    font-family: Arial, Helvetica, sans-serif;
    height: 200px;
}

input[type="submit"] {
    cursor: pointer;
    background-color: #490646;
    font-size: 18px;
    letter-spacing: 1px;
    padding: 10px 30px;
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    margin-left: 10px;
    margin-top: 10px;
}